.input__values {
    margin: 0px 10px;
    padding: 0px 5px;

    input {
        width: 100px;
    }

    .input__red {
        outline: none;
        border-color: transparent;
        border-bottom: 2px solid red;
        background-color: rgb(253, 218, 218);
    }
}

.drag__main {
    display: flex;
    align-items: center;
    height: 7px;
    margin: 50px 0px;
    border-radius: 10px;
    background: gray;

    .div-drag__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        border-radius: 10px; 
        background: #0d6efd;
        color: white;
        font-size: 10px;
        
        &:active, &:hover {
            cursor: ew-resize;
            width: 20px !important;
            height: 20px !important;
            z-index: 10;
        }
    }
}